*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f7fb;
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    color: #2e2e31;
   
}
header{
    /* outline: 1px solid yellow; */
    width: 100%;
    position:fixed;
    top:0;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 29px 0 rgb(134, 134, 134) ;
}
nav{
    display: flex;
    justify-content: end;
    margin: 20px;
}

ul{
    list-style: none;
    line-height: 40px;
    text-align: center;


}
li{
    /* outline: 1px solid blue; */
    width: 150px;
    display: inline-block;
    
}
a{
    /* outline: 1px solid black; */
    text-decoration: none;
    display: block;
}
.contacto{
    background-color: #8338ec;
    border-radius: 100px;
}
#ctt{
    color: white;
}
/* Seccion HOLA */
section{
    margin: 90px 0 0 0;
    padding: 110 40 130 40;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
    
}

.centrar{
    width: 80%;
    display:flex;
    flex-direction: row; 
    align-items: center;
    justify-content:space-between;

}

.textoPresentacion{
    padding: 0;
    width: 40%;
    height: 50%;
    align-items: center;
}

#saludo{
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
    color: #2e2e31;
    margin: 0 0 5px;
    font-weight: 800;
}

h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 60px;
    color: #8338ec;
    margin: 0 0 5px;
    font-weight: 900;
}

#descripcion{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #616161;
    margin: 16px 0 40px;
}

#btn{
    background-color: #8338ec;
    border-radius: 100px;
    color: white;
    font-weight: 500;
    width: 30%;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img{
    display: block;

    width: 40%;
    height: 50%;
    align-items: center;
}
img{
    width: 100%;
}
/* seccion CONOCIMIENTOS */

.conocimientos{
    margin: 90px 0 0 0;
    padding: 110 40 130 40;
    background-color: #f6f7fb;;
    display: flex;
    justify-content: center;
}

.centrarConocimientos{
    width: 80%;
    display:flex;
    flex-direction:column; 
    align-items: center;
    justify-content:space-between;
}
h2{
    margin: 37px 0 16;
    font-size: 45px;
}
p{
    width: 40%;
    margin: 16px 0 16px 0;
}
.divConocimientos{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;

}
.iconos{
    outline: 1px solid black;
    width: 30%;
    height: 30%;
   

}